@{
    string[] stringArray = new string[]
    {
        "Apple Pie",
        "Pizza",
        "Cinnamon Rolls",
        "Lasagna",
        "Donuts",
        "Chocolate Cake",
        "Burritos"
    };
    foreach ( string i in stringArray)
    {
        <p>@i</p>
    }
}