<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div id="header">
        <a href="/">Home</a> |
        <a href="/projects">Projects</a> |
        <a href="/contact">Contact</a>
    </div>
    <div id="title">
        <h1>Contact Me!</h1>
    </div>
    <div id="content">
        <form action="#" id="form">
            <label for="name">Name</label>
            <input type="text" id="name">
            <label for="email">Email</label>
            <input type="email" id="email">
            <label for="message">Message</label>
            <textarea id="message" rows="5" cols="20"></textarea>
            <input type="submit">
        </form>
    </div>
</body>
</html>