<!DOCTYPE html>
<html lang="en">
@model Survey
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div id="container">
        <h1>Submitted Info</h1>
        <div id="info">
            <p>Name: @Model.Name</p>
            <p>Dojo Location: @Model.Location</p>
            <p>Favorite Language: @Model.Language</p>
            <p>Comment: @Model.Comment</p>
        </div>
    </div>
</body>
</html>