@model Category

<h1><a href="/">Products</a> | <a href="/categories">Categories</a></h1>
<h2>@ViewBag.CategoryName.Name</h2>
<h5>Products</h5>
@foreach ( ProductCategoryAssociation i in Model.CategoryAssociations)
{
    <p>@i.Product.Name</p>
}
<h5>Add Product</h5>
@{
    ProductCategoryAssociation AddCategoryProduct = new ProductCategoryAssociation();
}
<partial name="_AddCategoryProduct" model="@AddCategoryProduct"></partial>