@model List<Transaction>
<h1>Welcome, @Context.Session.GetString("UserName")</h1>
<h2>Current Balance: $@Context.Session.GetInt32("UserBalance")</h2>
@{
    Transaction TransactionAmount = new Transaction();
}
<partial name="_NewTransaction" model="@TransactionAmount"></partial>
<table>
    <tr>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    @foreach (Transaction i in Model)
    {
    <tr>
        <td>$@i.Amount</td>
        <td>@i.CreatedAt</td>
    </tr>
    }
</table>