<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div id="container">
        <form action="survey_data" method="post">
            <div class="row">
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="row">
                <label for="location">Dojo Location:</label>
                <select name="location" id="location">
                    <option value="San Jose">San Jose</option>
                    <option value="Burbank">Burbank</option>
                    <option value="Costa Mesa">Costa Mesa</option>
                    <option value="Online">Online</option>
                </select>
            </div>
            <div class="row">
                <label for="language">Favorite Language:</label>
                <select name="language" id="language">
                    <option value="Python">Python</option>
                    <option value="C#">C#</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="HTML">HTML</option>
                    <option value="CSS">CSS</option>
                </select>
            </div>
            <div class="row">
                <label for="comment">Comment (optional):</label>
                <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
            </div>
            <input type="submit" id="submit">
        </form>
    </div>
</body>
</html>