body {
    width: auto;
    display: flex;
    justify-content: center;
}

#container {
    justify-content: space-between;
    border: 3px solid black;
    padding: 5vh 4vw;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 1vh 0 1vh;
}

h1 {
    text-decoration: underline;
}