@model Product
<form asp-action="NewProduct" asp-controller="Products" method="POST">
    <label asp-for="Name"></label>
    <span asp-validation-for="Name"></span>
    <input asp-for="Name">

    <label asp-for="Description"></label>
    <span asp-validation-for="Description"></span>
    <input asp-for="Description">

    <label asp-for="Price"></label>
    <span asp-validation-for="Price"></span>
    <input asp-for="Price">

    <button>Create</button>
</form>