@model List<Product>

<h1><a href="/">Products</a> | <a href="/categories">Categories</a></h1>
<h2>New Product</h2>
@{
    Product NewProduct = new Product();
}
<partial name="_AddProduct" model="@NewProduct"></partial>
<h2>All Products</h2>
@foreach(Product i in Model)
{
    <p><a href="/products/@i.ProductId">@i.Name</a></p>
}