<!DOCTYPE html>
<html lang="en">
@model Form
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div id="container">
        <form asp-controller="Home" asp-action="Submit" method="post">
            <div class="row">
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName"></span>
                <input asp-for="FirstName"/>
            </div>
            <div class="row">
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName"></span>
                <input asp-for="LastName"/>
            </div>
            <div class="row">
                <label asp-for="Age"></label>
                <span asp-validation-for="Age"></span>
                <input asp-for="Age"/>
                </select>
            </div>
            <div class="row">
                <label asp-for="Email"></label>
                <span asp-validation-for="Email"></span>
                <input asp-for="Email"/>
            </div>
            <div class="row">
                <label asp-for="Password"></label>
                <span asp-validation-for="Password"></span>
                <input asp-for="Password"/>
            </div>
            <input type="submit" id="submit">
        </form>
    </div>
</body>
</html>