<!DOCTYPE html>
<html lang="en">
@model List<Dish>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/">Chefs</a>
        <a href="/dishes">Dishes</a>
        <a href="/chefs/new">Add a Chef</a>
        <a href="/dishes/new">Add a Dish</a>
    </div>
    <div>Check out our roster of chefs!</div>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th># of Dishes</th>
            </tr>
            @foreach(Dish i in Model){
            <tr>
                <td>@i.UserChef.FirstName @i.UserChef.LastName</td>
                <td>@(@DateTime.Today.Year - @i.UserChef.DoB.Year)</td>
                <td></td>
            </tr>}
        </table>
    </div>
</body>
</html>